@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    /*aiai*/
:root{
    --text-color: white;
    --bg-url: url(imgs/bg-mobile.jpg);
    --Back-padrao: rgba(255, 255, 255, 0.1);
    --Borda-padrao: 1px solid rgba(255, 255, 255, 0.5);
    --botzin:rgba(255, 255, 255, 0.299);
    --back-bot: url(imgs/MoonStars.svg);
}

.light{
    --text-color: black;
    --bg-url:linear-gradient(to right, #879cec, #ddddf9);
    --Back-padrao: rgba(255, 255, 255, 0.277);
    --Borda-padrao: 1px solid rgba(255, 255, 255, 0.5);
    --botzin: rgba(255, 255, 255, 0.766);
    --back-bot: url(imgs/Sun.svg);
    background-size: 100% 100%; 
    background-repeat: initial;
    background-position: initial;
    
}

.theme-toggle {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#toggle-span {
    position: relative;     
    width: 64px;
    height: 32px;
    background-color: black;
    border-radius: 9999px;
    cursor: pointer;
    padding: 4px;            
}
#lua:hover{
    outline: 8px solid var(--Back-padrao)
}

#lua {
    position: absolute;
    top: 50%;               
    left: 0;                 
    transform: translate(0, -50%);
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    background-image: var(--back-bot);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    transition: left 0.3s ease;

     background-image: url(imgs/Sun.svg);

     animation: animacao2 0.2s;
}


#toggle-span.light #lua {
    left: 32px;        
     background-image: url(imgs/MoonStars.svg);
}


body{
    font-family: "Poppins", sans-serif;
    background-image: var(--bg-url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
html, body {
    height: 100%; 
}
main{
    flex: 1;
}

#ft-perfil{
    height: 175px;
    width: 175px;
    border-radius: 50%; 
    object-fit: cover;  
    display: block;
    margin: auto;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.505);
    margin-top: 30px;
    
}
#insta{
    text-align: center;
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.1em;
    margin-top: 15px;
}
ul{
    margin-top: 30px;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}


ul li a {
display: flex;
align-items: center;
justify-content: center;
padding: 16px 24px;
}
a {
  display: block;          
  width: 320px;            
  margin: 12px auto;      
  padding: 12px;           
  text-align: center;      
  text-decoration: none;   
  color: var(--text-color);
  background: var(--Back-padrao);
  border: var(--Borda-padrao);
  border-radius: 5px;
  backdrop-filter: blur(20px);
  font-weight: 600;

  transition: all 0.3s;
}

a:hover{
    background: var(--botzin);
}

.fa-instagram{
 color: #cc2366;
 font-size: 1.3em;
}
.fa-linkedin{
    color: blue;
    font-size: 1.3em;
}
.fa-github{
    color: #171515;
    font-size: 1.3em;
}
.fa-whatsapp{
    color: rgb(0, 185, 0);
    font-size: 1.3em;
}

button{
    animation: animacao 0.4s forwards;
}

@keyframes animacao1{
    from{left:0}
    to{left:50%}
    
}

@keyframes animcao2{
    from{left:50%}
    to{left:0}
}